.container {
    background-color: pink;
}

.item {
    padding: 5%;
}

.item-a {
    background-color: yellow;
}

.item-b {
    background-color: yellowgreen;
}

/* 미디어 쿼리 */
@media screen and (min-width: 700px) {
    /* 
        700 이상일때
        대충 태블릿 부터 적용되는 디자인.
     */
     .container {
         font-size:0;
     }
     .item {
         display: inline-block;
         vertical-align: top;
         font-size: 1rem;
     }

     .item-a {
         width:30%;
     }

     .item-b {
        width:50%;
    }
}